<%- include('../functions') %>
    <div class="card" style="background-color: whitesmoke;">
        <div class="card-body col-12" style="padding-bottom: 0px; padding-top: 10px;">
            <div class="row" id="transaction-header">
                <div class="col-12">
                    <h4>Pet: <%= pet.pet_name %></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12 w-100">
                    <p><b>Pet Type:</b> <%= pet.pet_type %></p>
                    <p><b>Special Requirements:</b> <%= pet.special_requirement %></p>
                </div>
            </div>
        </div>
    </div>
