<div class="container vert-gap-card">
    <div class="card">
        <div class="card-body col-12">
            <div class="row" id="transaction-header">
                <div class="col">
                    <h4>Status</h4>
                </div>
                <div class="col-6 text-center">
                    <h4>DDMMYY to DDMMYY</h4>
                </div>
                <div class="col text-right">
                    <h4>CareTaker Name</h4>
                </div>

            </div>
            <div class="row">
                <div class="col col-4" id="trans3">
                    <p>Date:</p>
                    <p>Time:</p>
                    <p>Care Taker:</p>
                </div>
                <div class="col col-4" id="trans4">
                    <p>Status:</p>
                    <p>Pet:</p>
                    <p>Total Cost:</p>
                </div>
            </div>
            
            <!-- button for payment? -->
        </div>

    </div>
    
</div>