<head>
    <link rel="stylesheet" href="/css/profile_styles.css">
</head>
<nav class="navbar navbar-dark navbar-expand-sm fixed-top">
    <div class="container">
        <a class="navbar-brand mr-auto" href="/dashboard">PetCare</a>
        <div class="collapse navbar-collapse" id="Navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="/dashboard">Dashboard</a></li>
                <li class="nav-item active"><a class="nav-link" href="/caretaker-summary-info">Caretaker Summary</a></li>
                <li class="nav-item active"><a class="nav-link" href="/pet-types">Pet Types</a></li>
                <li class="nav-item active"><a class="nav-link" href="/transactions">Transactions</a></li>
                <li class="nav-item active"><a class="nav-link" href="#">Create/Update Bid</a></li>
                <li class="nav-item active"><a class="nav-link" href="/profile">Caretaker Profile</a></li>
                <li class="nav-item active"><a class="nav-link" href="/logout">Logout</a></li>
                <!-- add other pages here -->
            </ul>
        </div>    
        <li class="navbar-brand mr-auto"><input type="text" placeholder="Search.."></li> <!-- shift search to the middle/right? -->
    </div>
</nav>