<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Pet Type</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/profile_styles.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
</head>

<body>
    <%- include('./partials/nav_bar.ejs') %>
    <div id="content-wrapper">
        <div class="container-fluid">
            <div class="card" style="width: 60%; margin: auto; margin-top: 5%">
                <div class="card-header">
                    <i class="fas fa-dice-d20"></i> &nbsp; <b> Add Pet Type </b>
                </div>
                <form method="post" action="/add-pet-type">
                    <div class="card-body">
                        <div class="form-group row">
                            <label for="name" class="col-sm-3 col-form-label">Name: </label>
                            <div class="col-sm-9">
                                <input type="text" required="required" class="form-control" placeholder="Name" id="name"
                                    name="name" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="basedailyprice" class="col-sm-3 col-form-label">Base Daily Price: </label>
                            <div class="col-sm-9">
                                <input type="number" required="required" class="form-control" id="basedailyprice"
                                    placeholder="Base Daily Price" name="basedailyprice" value="" min="1">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer small text-muted">
                        <button type="submit" class="btn btn-secondary">
                            Add Pet type
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>