<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Caretaker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/profile_styles.css">
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <script>
        $(function () {
            userType = JSON.parse('<%- JSON.stringify(userType) %>');
        })
    </script>
</head>

<body style="background-color: lightgrey;">
    <%- include('./partials/nav_bar.ejs', {loggedIn: loggedIn}) %>
    <div id="content-wrapper">
        <div class="container-fluid">
            <div class="card" style="width: 60%; margin: auto; margin-top: 5%">
                <div class="card-header">
                    <i class="fas fa-user-times"></i> &nbsp;
                    <% if(userType == "caretaker") { %> <b> Deactivate Care taker </b> <% } %>
                    <% if(userType == "petowner") { %> <b> Deactivate Pet owner </b> <% } %>
                    <% if(userType == "admin") { %> <b> Deactivate Admin </b> <% } %>
                </div>
                <% if(userType == "caretaker") { %>
                <form method="post" action="/delete-care-taker">
                    <% } else if(userType == "petowner") { %>
                    <form method="post" action="/delete-pet-owner">
                        <% } else {%>
                        <form method="post" action="/delete-admin">
                            <% } %>
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="name" class="col-sm-3 col-form-label">Name: </label>
                                    <div class="col-sm-9">
                                        <input type="text" required="required" class="form-control" readonly id="name"
                                            name="name" value="<%=user.name%>">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="email" class="col-sm-3 col-form-label">Email: </label>
                                    <div class="col-sm-9">
                                        <input type="text" required="required" class="form-control" readonly id="email"
                                            name="email" value="<%=user.email%>">
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer small text-muted">
                                <button type="submit" class="btn btn-secondary">
                                    Deactivate
                                </button>
                            </div>
                        </form>
            </div>
        </div>
    </div>
</body>

</html>