<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Edit Bid</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/checkout/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/assets/dist/css/bootstrap.min.css" >
    <script>
    </script>

    <style>
    </style>
    <!-- Custom styles for this template -->
    <link href="/css/form-validation.css" rel="stylesheet">
  </head>
  <body class="bg-light">
    <%- include('./partials/nav_bar.ejs') %>
    <div class="container">
  <div class="py-5 text-center">
    <h2>Edit Bid</h2>
  </div>

  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Your cart</span>
        <span class="badge badge-secondary badge-pill"></span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Caretaker</h6>
          </div>
          <span class="text-muted">Jennie</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Start Date</h6>
          </div>
          <span class="text-muted">12/5/2020</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">End Date</h6>
          </div>
          <span class="text-muted">15/5/2020</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Cost per day</h6>
          </div>
          <span class="text-muted">$30</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Total (SGD)</span>
          <strong>$20</strong>
        </li>
      </ul>
    </div>
    <div class="col-md-8 order-md-1">
      <form action="/bid" class="needs-validation" novalidate method="POST">
        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="transfer"><b>Change Pet Transfer Method</b></label>
            <p>Currently: <%= transferConvert(trans.method_of_pet_transfer) %></p>
            <select class="custom-select d-block w-100" id="transferMethod" required> 
              <option value = "cPickup">Caretaker pickup</option>
              <option value = "oDeliver">Dropoff at caretaker</option>
              <option value = "office">Dropoff at Pet Care office.</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid pet transfer method.
            </div>
          </div>
          
        </div>
        <hr class="mb-4">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="same-address">
          <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="save-info">
          <label class="custom-control-label" for="save-info">Save this information for next time</label>
        </div>
        <hr class="mb-4">

        <h4 class="mb-3">Change Payment Method</h4>
        <div class="row">
          <div class="col-md-4 mb-3">
            <label for="payment">Payment Method</label>
            <select class="custom-select d-block w-100" id="paymentMethod" required >
              <option value="cash">Cash</option>
              <option value="creditcard">Credit card ending 4256</option>
              <option value="creditcard">New credit card</opion>
            </select>
            <div class="invalid-feedback">
              Please provide a valid payment method..
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="cc-name">Name on card</label>
            <input type="text" class="form-control" id="cc-name" placeholder="" required>
            <small class="text-muted">Full name as displayed on card</small>
            <div class="invalid-feedback">
              Name on card is required
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="cc-number">Credit card number</label>
            <input type="text" class="form-control" id="cc-number" placeholder="" required>
            <div class="invalid-feedback">
              Credit card number is required
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 mb-3">
            <label for="cc-expiration">Expiration</label>
            <input type="text" class="form-control" id="cc-expiration" placeholder="MM/YY" maxlength="7" required>
            <div class="invalid-feedback">
              Expiration date required
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="cc-cvv">CVV</label>
            <input type="password" class="form-control" id="cc-cvv" placeholder="" required>
            <div class="invalid-feedback">
              Security code required
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <div class="row">
            <div class="col-md-4 mb-3">
                <button class="btn btn-primary btn-lg btn-block" type="submit" style="float:right">Confirm Changes</button>
            </div>
            <div class="col-md-4 mb-3">
                <button class="btn btn-danger btn-lg btn-block" type="submit" style="float:right">Cancel Bid</button>
            </div>
        </div>
      </form>
    </div>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
  </footer>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/plugins/bootstrap/js/form-validation.js"></script></body>
</html>
