<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <%- include('./partials/profiles/nav_bar.ejs') %>

    <div class="container vert-gap-card">
        <div class="card">
            <div class="card-body col-12">
                <div class="row" id="transaction-header">
                    <div class="col">
                        <h4>Status</h4>
                    </div>
                    <div class="col-6 text-center">
                        <h4>DDMMYY to DDMMYY</h4>
                    </div>
                    <div class="col text-right">
                        <h4>CareTaker Name</h4>
                    </div>
                    <div class="col-1">
                        <button class="btn btn-primary" type="button" id="toggle-collapse" data-toggle="collapse" data-target=".happy" aria-expanded="false" aria-controls="trans3 trans4"><img src="https://icon-library.com/images/collapse-expand-icon/collapse-expand-icon-29.jpg" width="15"></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-4 collapse multi-collapse happy" id="trans3">
                        <p>Date:</p>
                        <p>Time:</p>
                        <p>Care Taker:</p>
                    </div>
                    <div class="col col-4 collapse multi-collapse happy" id="trans4">
                        <p>Status:</p>
                        <p>Pet:</p>
                        <p>Total Cost:</p>
                    </div>
                </div>
                
                <!-- button for payment? -->
            </div>

        </div>
        
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>