.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px, 50px, 0px;
    border-bottom: 1px ridge;
    min-height: 250px;
}

.footer {
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #9575CD;
    color: floralwhite;
}

.vert-gap-container {
    padding-top: 10px;
}

.vert-gap-contents {
    margin-bottom: 30px;
}

.vert-gap-small-header {
    margin-bottom: 10px;
}

.vert-gap-words {
    padding-top: 30px;
    padding-bottom: 30px;
}

.vert-gap-card {
    padding-top: 30px;
}

address {
    font-size: 80%;
    margin: 0px;
    color: #0F0F0F;
}

body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark {
    background-color: #512DA8;
}

#rectangle{
    width:200px;
    height:200px;
    background:#e0e0e0;
}

.btn {
    margin-left: 30px;
}

#toggle-collapse {
    background-color: white;
    border-style: none;
    margin-top: auto;
    margin-bottom: auto;
}

#transaction-header {
    margin-bottom: 5px;
}

#square-card {
    margin-left: 20px;
    margin-right: 20px;
    background-color:whitesmoke;
    padding-top: 12px;
    text-align: left;
}