<header class="jumbotron" style="padding: 70px 30px 70px 30px; margin: 0px auto; background: #9575CD; color: floralwhite;">
    <div class="container">
        <div class="row row-header">
            <div class="col-12 col-sm-6">
                <h1>PetCare</h1>
                <p>We care about your pets!</p>
            </div>
            <div class="col-12 col-sm"> 
            </div>
        </div>
    </div>
</header>