<nav class="navbar navbar-dark navbar-expand-sm fixed-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand mr-auto" href="#">PetCare</a>
        <div class="collapse navbar-collapse" id="Navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="/profile">Profile</a></li>
                <li class="nav-item active"><a class="nav-link" href="/caretaker-summary-info"> Caretaker Summary </a></li>
                <!-- add other pages here -->
                <li class="nav-item active"><input type="text" placeholder="Search.."></li> <!-- shift search to the middle/right? -->
            </ul>
        </div>    
    </div>
</nav>