<div class="container vert-gap-container">
    
    <div class="row row-content align-items-center">
        <div class="col-12 col-sm order-sm-first col-md">
            <div id="rectangle"></div>
            <p class="vert-gap-words">if caretaker, past jobs. if user, past transactions. sorted by date.</p>
        </div>
        <div class="col-12 col-sm order-sm-first col-md">
            <div id="rectangle"></div>
            <p class="vert-gap-words">if caretaker, past jobs. if user, past transactions. sorted by date.</p>
        </div>
        <div class="col-12 col-sm order-sm-first col-md">
            <div id="rectangle"></div>
            <p class="vert-gap-words">if caretaker, past jobs. if user, past transactions. sorted by date.</p>
        </div>
        <div class="col-12 col-sm order-sm-first col-md">
            <div id="rectangle"></div>
            <p class="vert-gap-words">if caretaker, past jobs. if user, past transactions. sorted by date.</p>
        </div>
    </div>
</div>